html {
  /*Dark purple*/
  background-color: #2e293d;
  background-image: url("SpaceBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  align-self: center;
  vertical-align: center;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

p, label, a, h1 {
  /*White*/
  color: white;
  text-align: center;
  text-shadow: 4px 4px 2px black;
}

.OtherStuff {
  /*Bright Purple*/
  background-color: rgb(124, 32, 224);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  max-width: 200px;
  max-height: 200px;
  box-shadow: 10px 10px 5px 5px black;
  margin: auto;
}

/*Debug*/
#NavigationBar {
  display: flex;
  justify-content: space-evenly;
}

/*Index.js*/
.Login {
  margin: 100 100 100 100;
  min-width: 1000 px;
  min-height: 1000 px;
}

/*2ndPage.js*/
.NAV {
  font-size: 50px;
  background-color: rgb(46, 41, 61);;
  border-radius: 10px;
  width: 300px;
}

#dropdown-heading{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.dropdown-options {
  background-color: rgb(46, 41, 61);
  width: 300px;
  display: none;
  position: absolute;
  overflow: auto;
}

.dropdown:hover .dropdown-options {
  display: block;
}
.dropdown:hover .dropdown-options, a {
  display: block;
}

/*FinalPage.js*/

#RocketShip {
  display: flex;
  justify-content: center;
  align-items: center;
}

#RocketShipImg {
  width: 50%;
}

table, th, td {
  border: 0px;
  width: 50%;
  text-align: center;
  padding: 5%;
  /* background-color: ; */
}

.test{
  width: 300px;
  
}